

body{
background: linear-gradient(to right ,aqua ,seagreen);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.github-profile{
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 1rem;
 
  
}
.github-profile:hover {
  background-color: #33d64e;
  box-shadow: 2px 2px 5px #3323c5;
  transform: scale(1.05);
  color: #0000ff;
  font-size: 2rem;
}

.form{
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  background-color: #3d72d3;
  border: solid 1px #2dd1ae;
  font-size: 2rem;
  font-weight: bold;
 
}

.formbutton{
  background-color: #00aeff;
  font-weight: bolder;
  font-size: large;
  font-family: cursive;
  color: rgb(238, 255, 0);
}